:root {
  --background-color: #ebece6;
  --text-color: #333;
  --accent-color: #90a2a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #333;
}
