.main {
  position: relative;
  display: flex;
  gap: 1em;
  padding: 1em 2em;
  min-height: 100vh;
}

.main_section {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_section:first-child {
  height: calc(100vh - 2em);
  position: sticky;
  top: 1em;
}

.main_section:last-child {
  flex: 0.4;
}

.title {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.15;
}

.sub_title {
  margin-top: 1em;
  font-size: 1.825rem;
  font-weight: 500;
}

.projects_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.projects_list {
  list-style-type: none;
}

.project_wrapper {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid var(--accent-color);
}

.project_img_wrapper {
  margin: 0 auto;
  position: relative;
  width: 600px;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.project_img {
  border-radius: 8px;
}

.project_title {
  font-size: 1.5rem;
  font-weight: 500;
}

.project_description {
  padding: 0.65em 0;
}
