:root {
  --background-color: #e8e6e2;
  --text-color: #333;
  --accent-color: #90a2a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  user-select: none;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--background-color);
  color: #333;
}

.link {
  color: unset;
  appearance: none;
  text-decoration: none;
}
