.main {
  padding: 1em 2em 0;
}

.main_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_section:last-child {
  flex: 0.4;
}

.title_container {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  font-size: clamp(4rem, 10vw, 8rem);
  font-weight: 900;
  line-height: 0.95;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.25em;
}

.title_chunk_wrapper {
  font-size: clamp(2rem, 5vw, 4rem);
  display: flex;
  flex-direction: column;
  line-height: 0.85;
}

.projects_container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0 1em 0;
}

.tech_stacks_container {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
}

.tech_stacks_wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

.tech_stack_img {
  width: 80px;
  height: 80px;
}

.projects_col_wrapper {
  flex: 0.5;
}

.projects_col_wrapper:first-child {
  padding: 50vh 0;
}

.projects_col_wrapper:last-child {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  padding: 1em;
}

.projects_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list_item_content {
  padding: 3.25rem 0;
  font-weight: 900;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #444;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.project_img_container {
  position: relative;
  width: 80%;
}

.projects_img_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding: 2rem;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 300ms ease;
}

.project_img {
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.show_me_btn {
  position: absolute;
  right: 3em;
  bottom: 3.25em;
  white-space: nowrap;
  padding: 0.65em;
  color: #ccc;
  width: fit-content;
  z-index: 10;
  background: #333;
  border-radius: 8px;
  height: fit-content;
  border: none transparent;
  cursor: pointer;
  transition: color 200ms ease;
}

.show_me_btn:hover {
  color: #f4f4f4;
}

@media only screen and (max-width: 1024px) {
  .main {
    padding: 1em 1em 0;
  }
  .tech_stacks_container {
    width: 90%;
  }
  .tech_stacks_wrapper {
    padding: 0 0 2em;
    display: flex;
    gap: 1.25em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects_container {
    padding: 0;
  }
  .project_img_container {
    width: 100%;
  }
  .list_item_content {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .title_container {
    font-size: 5rem;
    writing-mode: vertical-rl;
  }
  .tech_stacks_wrapper {
    display: none;
  }
  .projects_col_wrapper {
    flex: 1;
  }
  .projects_col_wrapper:first-child {
    padding: 12rem 0 40vh;
  }
  .projects_col_wrapper:last-child {
    display: none;
  }
}
