.page_container {
  padding: 1em 0 0;
  position: relative;
}

.page_hero_wrapper {
  padding: 4em 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.page_header {
  padding: 1em 0;
  font-size: 3.5rem;
  text-transform: capitalize;
  text-align: center;
}

.page_website_container {
  height: fit-content;
  margin: 0 auto;
}

.img_wrapper {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.6);
  aspect-ratio: 16 / 9;
  padding: 4rem;
}

.img_extension_wrapper {
  padding: 3rem;
}

.website_img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.page_highlights_container {
  margin: 0 auto;
  padding: 0em 4em 4em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.page_sub_title {
  padding: 2em 0;
  font-size: 2.5rem;
}

.page_highlights_wrapper {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2, 1fr);
}

.menu_wrapper {
  position: fixed;
  width: fit-content;
  padding: 0.5em;
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 8px;
  z-index: 999;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menu_container {
  flex: 0.8;
  border-radius: 8px;
  background: #3e3e3e;
  color: #d3d3d3;
  height: 60px;
  padding: 0.35em;
}

.menu_container_content {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menu_item {
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 0.875rem;
  border: 1px solid #4e4e4e;
  transition: border-color 0.3s ease;
}

.menu_item_active {
  border: 1px solid #a7a7a7;
}

.menu_item:hover {
  border: 1px solid #a7a7a7;
}

.btn_container {
  flex: 0.2;
  height: 60px;
}

.visit_site_button {
  background: red;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none transparent;
  border: none transparent;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.visit_site_button:hover {
  opacity: 0.8;
}

.modified_links {
  padding: 1em;
  border-radius: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.details_wrapper {
  background: #f8f8f8;
  padding: 4em;
}

.section_wrapper {
  padding: 1em 0;
}

.section_header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 1em 0;
  border-bottom: 1px dashed #333;
  gap: 4em;
}

.switch_typography_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2em;
}

.switch_typography_item {
  text-transform: capitalize;
  font-size: 1.15rem;
  color: #b2aeb8;
  cursor: pointer;
  position: relative;
}

.switch_typography_item.active::after {
  content: " ";
  position: absolute;
  bottom: -1.5em;
  right: 0;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 4px;
}

.switch_typography_item.active {
  color: #333;
}

.section_content {
  padding: 3em 0;
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.section_typography {
  padding: 1em 0;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 500;
}

.tool_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.tool_img_wrapper {
  width: 100px;
  height: 100px;
}

.tool_img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tool_name {
  text-transform: capitalize;
  font-size: 1.15rem;
  font-weight: 600;
  color: #3e3e3e;
}

@media only screen and (max-width: 1200px) {
  .page_header {
    font-size: 3rem;
  }

  .page_hero_wrapper,
  .page_highlights_container,
  .details_wrapper {
    padding: 2rem;
  }

  .page_hero_wrapper {
    padding-bottom: 0;
  }

  .page_highlights_container {
    padding-bottom: 4rem;
  }

  .img_wrapper {
    padding: 2.5rem;
  }

  .img_extension_wrapper {
    padding: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .page_hero_wrapper {
    padding: 2em;
  }

  .page_header {
    padding: 1em 0;
    font-size: 1.75rem;
  }

  .page_highlights_wrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  .img_wrapper {
    aspect-ratio: unset;
    padding: 1rem;
  }

  .img_extension_wrapper {
    padding: 1rem;
  }

  .website_img {
    border-radius: 8px;
  }

  .page_highlights_container {
    padding: 0em 2em 2em;
  }

  .page_sub_title {
    padding: 1em 0;
    font-size: 1.5rem;
  }

  .menu_wrapper {
    display: none;
  }

  .menu_container {
    display: none;
  }

  .details_wrapper {
    background: #f8f8f8;
    padding: 1em;
  }

  .section_wrapper {
    padding: 1em 0;
  }

  .section_header {
    width: 100%;
    overflow-x: auto;
    font-size: 1.25rem;
    padding: 1em 0.75em;
    gap: 2.5em;
  }

  .switch_typography_list {
    gap: 1.5em;
  }

  .switch_typography_item {
    white-space: nowrap;
    font-size: 1rem;
  }

  .switch_typography_item.active::after {
    bottom: -1.45em;
  }

  .section_content {
    width: 100%;
    overflow-x: auto;
    padding: 3em 0;
    gap: 1em;
  }

  .section_typography {
    padding: 1em 0;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
  }

  .tool_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .tool_img_wrapper {
    width: 80px;
    height: 80px;
  }

  .tool_name {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
  }
}
